<div *ngIf="data.type == dialogType.CERTIFICATE">
  <h2 mat-dialog-title>{{data.title}}</h2>
  <mat-dialog-content>
    <div>
      <img [src]="data.source" >
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="close()" mat-dialog-close>
      Cerrar
    </button>
  </mat-dialog-actions>
</div>
<!--<h2 mat-dialog-title>INFO</h2>
<mat-dialog-content>
  <div>
    <mat-icon>info</mat-icon>Hello
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="close()" mat-dialog-close>
    Close
  </button>
</mat-dialog-actions>-->
<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->