<mat-nav-list *ngIf="skillsList">
  <mat-list-item *ngFor="let skillItem of skillsList" style="height: auto;">
    <div matLine class="row">
      <div class="col-2">
        <mat-icon matListIcon class="icon" [svgIcon]="skillItem.skill.icon" [inline]="true"></mat-icon>
      </div>
    </div>
    <div class="col-2">
      <span class="progress-badge center-text">{{skillItem.skill.name}}</span>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="col-10">
          <div class="row progress progress-container progress-primary mb-none vertical-center">
            <div class="progress-bar progress-bar-primary set-height" data-aos="progress-full" data-aos-offset="10"
              data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
              style="height: 14px;" [ngStyle]="{'width':skillItem.skill.percentage + '%'}">
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="row vertical-center2">
            &nbsp; &nbsp;
            <span class="progress-value">{{skillItem.skill.percentage}}%</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <mat-icon *ngIf="skillItem.isOpen" class="icon icon-rotate" style="font-size: 30px;" (click)="changeIcon(skillItem)">{{skillItem.openIcon}}</mat-icon>
      <mat-icon *ngIf="!skillItem.isOpen" class="icon icon-rotate" style="font-size: 30px;" (click)="changeIcon(skillItem)">{{skillItem.closeIcon}}</mat-icon>
    </div>
    <div matLine >
      <br matLine>
      <p  matLine *ngIf="!skillItem.isOpen">
        <span> {{skillItem.skill.name}} </span>
        <span class="demo-2"> -- {{skillItem.skill.name}} </span>
      </p>
    </div>
    
  </mat-list-item>
</mat-nav-list>