<article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
   <div class="timeline-entry-inner">
      <div class="timeline-icon color-1">
         <i class="icon-pen2"></i>
      </div>
      <div class="timeline-label">
         <h2>{{article.charge}} <span>{{article.intervalTime}}</span></h2>
         <h4>{{article.compay}}</h4>
         <p>{{article.description}}</p>
         <ul>
            <li *ngFor="let role of article.roles">{{role}}</li>
         </ul>
      </div>
   </div>
</article>