.gallery{
    background-color: rgb(219, 228, 144);
    border-radius: 30px 30px 0px 0px;
    
}

.picture {
    width: 70%;
    -webkit-box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: .3s ease;
    background-color: red;
    opacity: 1;
    
}

.picture:hover {
    opacity: 0.5;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.mat-icon {
    color: white;
    font-size: 150px;
    position:  absolute;
    display: inline-flex;
    justify-content: center;
    top: 18%;
    left: 28%;
    width: auto;
    height: auto;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    text-align: center;
    opacity: 0;
}

.mat-icon:hover {
    opacity: 1;
}

.descriptionText{
    position: absolute;
    margin-left: 2%; 
    top:-10px;
}

.titleText {
    justify-content: left !important;
    left: 0;
}
  