<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Más Información</div>
              <p>Mi nombre es <strong>Javier Machuca</strong> desarrollador con 4 años de experiencia laboral, en diferentes proyectos en variadas tecnologias. 
              Dentro de los conocimientos a disposición son javascript, Angular, Java, PHP, Laravel, C#, entre otros . 
              Algunos de los proyectos pueden ser visibles en mi github. Me gusta aprender nuevas tecnologías, 
              metodologías, para entregar una buena calidad en mis servicios. 
              Algunos de mis hobbies son realizar deportes como jugar football, ping pong, bastquetball, jugar algunos en línea.</p>
              
              <p>
                Me gusta mantenerme espectante a las nuevas tendencias en softwer, suelo ser un presente usuario de Twitter entorno a las tecnologías web buscando, alimentando mis conocimientos, procurando mejorar en el día a día y al mismo tiempo ser un aporte en la comunidad.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Información Básica</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Fecha de nacimiento:</strong>
                </div>
                <div class="col-sm-8">19 Septiembre, 1993</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">javier.machuca.a@gmail.com</div>
              </div>
              <!--<div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Telefono:</strong>
                </div>
                <div class="col-sm-8">+5699411</div>
              </div>-->
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">D-101,Trishla Appartment,near sakar school,new cg chandkheda,Ahmedabad,382424
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Hindi, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
