<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="green">
        <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro-3.jpg');">
        </div>
        <div class="container">
          <div class="content-center">
            <div class="cc-profile-image">
              <a href="#">
                <img src="assets/images/profile.jpg" alt="Image" />
              </a>
            </div>
            <div class="h2 title">Javier Machuca</div>
            <p class="category text-white">Full Stack Developer</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Contactame</a>
            <a class="btn btn-primary"
              href="https://drive.google.com/open?id=1Y-xFr05GlSzGzv1LufUWfySytwAf3UoV" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Descargar CV</a>
          </div>
        </div>
        <div class="section">
          <div class="container">
            <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" [href]="constants.LINK_FACEBOOK"
                target="_blank" rel="tooltip" title="Follow me on Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" [href]="constants.LINK_INSTAGRAM"
                target="_blank" rel="tooltip" title="Follow me on Instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" [href]="constants.LINK_LINKEDIN"
                target="_blank" rel="tooltip" title="Follow me on Linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" [href]="constants.LINK_GITHUB"
                target="_blank" rel="tooltip" title="Follow me on Github">
                <i class="fa fa-github"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" [href]="constants.LINK_TWITTER"
                target="_blank" rel="tooltip" title="Follow me on Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="mailto:javier.machuca.a@gmail.com" target="_blank" rel="tooltip"
                title="Send me a Mail">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>