/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-icon.icon {
    font-size: 10px;
    height: 40px !important;
    width: 40px !important;
}

.center-text {
    margin-top: auto !important; margin-bottom: auto !important;
}

.mb-none {
    margin-bottom: unset !important;
}

.with-expand{
    width: 100% !important;
}

.set-height {
    height: 10px;
}

.vertical-center {
    margin-top: 12px;
}

.vertical-center2{
    margin-top: 9px;
}

/*::ng-deep .ng-animating div mat-accordion mat-expansion-panel mat-expansion-panel-header {
    background: green !important;
    height: 100px !important;
  }

  ::ng-deep .ng-animating div mat-accordion mat-expansion-panel div.mat-expansion-panel-content {
    visibility: hidden;
    background: green !important;
    height: 100px !important;
}*/

.mat-accordion mat-expansion-panel {
    mat-expansion-panel-header {
      height: 100px !important;
      background-color: green; // height may be different for you
    }
    
    &.mat-expanded {
      mat-expansion-panel-header {
        height: 100px !important; // height may be different for you
        background-color: green;
      }
    }
  }
